@import url(./__title/places__title.css);
@import url(./__place/places__place.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);
@import url(./__image-block/places__image-block.css);
@import url(./__image/places__image.css);
@import url(./__description/places__description.css);


.places {
  padding: 92px 148px;
  }

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px;
    }
  }

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px;
    }
  }

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0px;
    }
  }
