.intro__header {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding: 92px 0 40px 0;
}

@media screen and (max-width : 768px) {
  .intro__header {
    padding: 88px 0 40px 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 734px) {
 .intro__header {
   font-size: 42px;
   line-height: 1.09;
  }
}


@media screen and (max-width : 425px) {
  .intro__header {
    font-size: 32px;
    line-height: 1.09;
    padding: 64px 0 40px 0;
  }
}
