.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0 64px 0;
}

@media screen and (max-width: 1024px) {

  .lead__subtitle {
    padding: 32px 0 56px 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 666px) {

  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
    max-width: 60%;
  }
}

@media screen and (max-width : 425px) {

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 0 40px 0;
    max-width: 60%;
  }
}
