@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../vendor/fonts/Inter/Inter-Black.woff2?v=3.13") format("woff2"),
       url("../vendor/fonts/Inter/Inter-Black.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../vendor/fonts/Inter/Inter-SemiBold.woff2?v=3.13") format("woff2"),
       url("../vendor/fonts/Inter/Inter-SemiBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../vendor/fonts/Inter/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("../vendor/fonts/Inter/Inter-Regular.woff?v=3.13") format("woff");
}

.root {
    margin: 0 auto;
    min-width: 320px;
    max-width: 2560px;
    background: #2A2C2F;
    font-family: Inter, Tahoma, Verdana, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}


 /* * {
  outline-width: 1px;
  outline-style: solid;
  outline-color: red;
  } */



.header {
  display: flex;
  padding: 28px 48px 56px 48px;
  justify-content: space-between;
  font-size: 0px;
}

.header__logo-image {
  width: 176px;
  height: 52px;
}

.header__lang {
  align-self: flex-start;
  padding-top: 18px;
}

.header__lang-link,
.header__lang-link:active,
.header__lang-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1.17;
  padding-left: 18px;
}

.header__lang-link:hover  {
  text-decoration: underline;
}

.header__lang-link_current {
  text-decoration: underline;
}

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px;
  font-size: 0px;
}

.lead__title {
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  padding: 32px 0 64px 0;
}

.lead__mainpic {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.lead__mainpic-caption {
  padding-top: 8px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 0 92px 0
}

.intro__header {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
  padding: 92px 0 40px 0;
}

.intro__text {
  font-size: 16px;
  line-height: 1.63;
  width: 690px;
  margin: 0;
  padding: 0 0 32px 0;
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-value {
  font-weight: normal;
}

.photo-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  padding: 0 48px 0 48px;
  font-size: 0px;
}

.photo-grid__image {
  max-width: 100%;
}

.places {
  padding: 92px 148px 92px 148px;
  display: grid;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-columns: minmax(320px, 460px) minmax(min-content, 484px);
}

.places__website {
  align-self: end;
}

.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  padding-top: 32px;
  margin: 0;
}

.places__title:first-child {
  padding-top: 0px;
}

.places__url-heading {
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: 0.2em;
  color: #aaa;
  padding: 0 0 12px 0;
  display: block;
}

.places__description {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 0px;
}

.places__link,
.places__link:active,
.places__link:visited {
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity 0.5s;
}

.places__link:hover {
  opacity: 0.8;
}

.places__image {
  max-width: 100%;
  object-fit: cover;
}

.cover {
  position: relative;
  max-width: 1184px;
  object-fit: contain;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cover__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
  opacity: 0.8;
  transition: opacity 1s;
}

.cover:hover .cover__image {
  opacity: 0.3
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  text-align: center;
  max-width: 560px;
}

.cover__title-link {
  color: #fff;
  text-decoration: none;
}

.cover__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  margin: 0 auto;
  display: block;
  padding: 32px 0 0 0;
  text-align: center;
  max-width: 360px;
}

.footer {
  min-height: 134px;
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 48px;
}

.footer__nav {
  padding: 0 0 24px 0px;
  font-size: 16px;
  line-height: 1.12;
}

.footer__nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.footer__nav-item {
  display: inline;
  padding: 0 18px 0 0;
}

.footer__nav-link,
.footer__nav-link:active,
.footer__nav-link:visited {
  text-decoration-line: none;
  color: #fff;
  transition: opacity 0.5s;
}

.footer__nav-link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  padding: 0 0 24px 0;
}

@media screen and (min-width : 1440px) {

  .header__logo-image {
    width: 194px;
    height: 58px;
  }

  .lead {
    max-width: 75%;
  }

  .lead__mainpic-caption {
    font-size: 14px;
    line-height: 1.4;
  }

  .intro {
    max-width: 75%;
  }

  .intro__list-item {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
  }

  .intro__text {
    font-size: 26px;
    line-height: 1.62;
    width: 75%;
  }

  .photo-grid {
    max-width: 75%;
    margin: 0 auto;
  }

  .places__description {
    font-size: 26px;
    line-height: 1.67;
  }

  .places {
    padding: 122px 0 122px 0;
    grid-template-columns: 33% 33%;
  }

  .places__url-heading {
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 0.2em;
  }

  .places__link {
    font-size: 24px;
    line-height: 1.22;
  }

  .cover {
    max-width: 85%;
  }

  .footer {
    max-width: 85%;
    padding: 0;
  }

  .footer__nav {
    font-size: 22px;
    line-height: 1.12;
  }

  .footer__copyright {
    font-size: 18px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 1024px) {

  .header {
    padding: 28px 48px 48px 48px;
  }

  .lead__subtitle {
    padding: 32px 0 56px 0;
  }

  .intro {
    padding: 0 48px 88px 48px;
  }

  .photo-grid {
    grid-gap: 14px;
  }

  .places {
    padding: 92px 48px 92px 48px;
    grid-column-gap: 32px;
    grid-template-columns: minmax(320px, 440px) minmax(min-content, 456px);
  }

  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width : 768px) {

  .header {
    padding: 28px 24px 48px 24px;
  }

  .lead {
    padding: 0;
  }

  .intro__header {
    padding: 88px 0 40px 0;
  }

  .intro {
    padding: 0 24px 0 24px;
  }

  .intro__text {
    width: 100%;
  }

  .lead__mainpic-caption {
    padding-left: 24px;
  }

  .photo-grid {
    padding: 88px 24px 0 24px;
    grid-gap: 16px;
  }

  .places {
    padding: 88px 24px 88px 24px;
    grid-column-gap: 28px;
    grid-template-columns: minmax(320px, 340px) minmax(min-content, 352px);
  }

  .places__title {
    padding-top: 24px;
    font-size: 42px;
    line-height: 1.1;
  }

  .places__description {
    padding: 0 0 24px 0;
    font-size: 16px;
    line-height: 1.62;
  }

  .footer {
    min-height: 130px;
    padding: 0 24px;
  }

}

 @media screen and (max-width: 750px) {
   .lead__title {
       font-size: 78px;
       line-height: 1.04;
     }

  .footer__nav-link {
       display: list-item;
     }

  .footer {
       padding: 64px 0 0 16px;
       justify-content: flex-start;
       flex-direction: column;
       align-items: flex-start;
     }
 }

 @media screen and (min-width: 426px) and (max-width: 666px) {

  .header {
     padding: 16px 16px 48px 16px;
   }

  .lead__title {
    font-size: 54px;
    line-height: 1.04;
  }

  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
    max-width: 60%;
  }

  .photo-grid {
    justify-items: center;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.09;
  }

  .places {
    grid-template-columns: minmax(min-content, 666px);
  }

  .cover__title {
    font-size: 44px;
    line-height: 1.09;
  }

  .footer__nav-link {
    display: list-item;
  }

  .footer {
    padding: 64px 0 0 16px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width : 425px) {

  .header {
    padding: 16px 16px 48px 16px;
  }

  .header__lang {
    padding-top: 14px;
  }

  .header__lang-link  {
    font-size: 18px;
    line-height: 1.33;
  }

  .header__logo-image {
    width: 142px;
    height: 42px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 0 40px 0;
    max-width: 60%;
  }

  .lead__mainpic-caption {
    padding-left: 16px;
  }

  .intro__header {
    font-size: 32px;
    line-height: 1.09;
    padding: 64px 0 40px 0;
  }

  .intro__text {
    width: 100%;
  }

  .intro {
    padding: 0 16px;
  }

  .photo-grid {
    padding: 64px 16px 0 16px;
    grid-gap: 12px;
  }

  .places {
    grid-template-columns: minmax(320px, 425px);
    padding: 64px 16px 64px 16px;
    grid-row-gap: 0px;
  }

  .places__image-block {
      padding: 0 0 8px 0;
  }

  .places__description {
    padding: 24px 16px 0 16px;
    font-size: 16px;
    line-height: 1.62;
  }

  .places__website {
    display: none;
  }

  .places__title {
    padding: 48px 16px 32px 16px;
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    padding: 16px 16px 0 16px;
  }

  .footer__nav-link {
    display: list-item;
  }

  .footer {
    padding: 64px 0 0 16px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav {
    font-size: 24px;
    line-height: 1.0;
  }

  .footer__copyright {
    line-height: 14px;
    line-height: 1.0;
  }
}
